@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: Josefin Sans, sans-serif;
  --fs-600: clamp(16px, 1vw + 2px, 20px);
  --secondary-dark: #ed6a5aff;
  --secondary: #f4f1bbff;
  --primary-light: #9bc1bcff;
  --primary: #5ca4a9ff;
  --background: #e6ebe0ff;
  --bs: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --toastify-color-info: #3498db;
  --toastify-color-success: #5ca4a9ff;
  --toastify-color-warning: #f4f1bbff;
  --toastify-color-error: #ed6a5aff;
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
}

body {
  font-family: var(--font);
  font-size: 20px;

  width: 100%;
}

section {
  background-image: url("./assets/brooke-lark-kXQ3J7_2fpc-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fill;
  background-position: cover;
  position: fixed;
  min-height: 100vh;
  z-index: -1;
  width: 100vw;
  filter: brightness(50%);
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 2000px;
}

.page-container {
  padding: 50px;
  min-height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.page-title {
  font-family: var(--font);
  font-size: 80px;
  margin-bottom: 2rem;
  color: var(--background);
  text-align: center;
}

button {
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.btn {
  padding: 1.2em 3em 1em 3em;

  text-transform: uppercase;
  font-size: var(--fs-600);
  box-shadow: var(--bs);
  text-align: center;
  text-justify: center;
}

/***** Filter *****/
.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  width: fit-content;
  padding: 0.5rem;
  padding-right: 10px;
}

.filter-container button {
  background-color: rgba(230, 235, 224, 0.5);

  padding: 0.5rem 1rem;
  border-radius: 40px;
  margin-left: 10px;
  font-size: var(--fs-600);
}

.filter-container button:hover {
  background-color: white;
}

/***** Navbar *****/

.nav {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0;
  left: 20px;
}

.nav-container {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem;
  max-width: 2000px;
  margin: auto;
}

.search {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  width: 600px;
  box-shadow: var(--bs);
  position: relative;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--primary-light);
}

.search:focus {
  outline: none;
  transform: scale(1.1);
}

.search-container {
  position: relative;
}

.search-results {
  position: absolute;
  background-color: white;
  padding: 1rem;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;

  box-shadow: var(--bs);
  z-index: 5;
  top: 70px;
  width: 100%;
}

.search-result {
  font-size: 16px;
  color: black;
  list-style: none;
  text-transform: capitalize;
}

.search-link {
  text-decoration: none;
}

.search-result:hover {
  background-color: rgb(197, 197, 197);
}

.link {
  text-decoration: none;
  color: black;
}

/***** Sidebar *****/

.sidebar-wrapper {
  display: grid;
  grid-auto-rows: min-content;
  justify-items: center;
  padding-top: 10rem;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--secondary);
  min-height: 100vh;
  width: 250px;
  transform: translatex(100%);
  transition: all 1s ease;
  z-index: 5;
}

.sidebar {
  display: grid;
  gap: 2rem;
}

.sidebar-button {
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sidebar-button:hover {
  transform: scale(1.1);
}

.menu {
  cursor: pointer;
}

.menu-item {
  position: relative;
  width: max-content;
}

.menu-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu-item::after {
  content: "";
  display: inline-block;
  width: 100%;
  border: solid 1px black;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s ease;
  border-radius: 10%;
}

.menu-item:hover::after {
  transform: scaleX(1);
}

.show-sidebar {
  transform: translatex(0%);
}

/***** Main Page *****/

.header-container {
  background-image: url("./assets/brooke-lark-kXQ3J7_2fpc-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-content {
  font-size: var(--fs-400);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.header-content h1 {
  font-size: 100px;
  text-transform: uppercase;
}

.header-content p {
  margin-bottom: 4rem;
}

.main-title {
  width: 60%;
  line-height: 0.8;
  margin-bottom: 4rem;
}

.kitchen {
  text-align: end;
  padding-left: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.browse {
  background-color: var(--secondary-dark);
}

/***** Categories / Category *****/

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 2rem 0.5rem;
  width: 100%;
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 15px;
  justify-items: center;
}

.category-header {
  text-align: center;
  margin-bottom: 4rem;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 2rem 0.5rem;
  width: 100%;
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 15px;
  justify-items: center;
}

/***** Browse Section *****/

.browse-section-container {
  background-color: var(--primary-light);

  width: 100%;
  position: relative;
  padding: 2rem;
  min-height: 500px;
}

.browse-section-image-container {
  height: 440px;

  float: right;
  shape-outside: ellipse(289px 51px at 33.14% 76%);
  width: 50%;
}

.browse-section-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.browse-text-container {
  width: 60%;
  margin-top: 100px;
}

.browse-text-container h2 {
  font-size: 70px;
  font-family: "Pinyon Script", sans-serif;
  position: absolute;
  top: 150px;
  right: 10px;
}

.browse-section-button {
  margin-top: 40px;
  margin-left: 300px;
}

/***** Categories Section *****/

.category-section-container {
  padding: 4rem 2rem;
  position: relative;
  background-color: var(--secondary);
  min-height: 400px;
}

.category-section-title {
  position: absolute;
  top: -40px;
  left: 40px;
  font-size: 60px;
  font-family: var(--font);
}

.category-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  justify-items: center;
  gap: 2rem 0.5rem;
  width: 100%;
}

/***** Category Card *****/

.category-card {
  background-color: var(--background);
  text-transform: capitalize;
  box-shadow: var(--bs);

  text-align: center;
  display: flex;
  flex-direction: column;

  line-height: 1.1;
  font-size: 14px;
  height: 21rem;
  width: 16rem;
  border-radius: 15px;
  overflow: hidden;
}
.category-card-mobile {
  background-color: var(--background);
  text-transform: capitalize;
  box-shadow: var(--bs);
  position: relative;
  text-align: center;
  display: flex;

  line-height: 1.1;

  width: 16rem;
  border-radius: 15px;

  flex-direction: row;
  font-size: 10px;
  height: 4rem;
}

.category-card-mobile:hover {
  transform: scale(1.1);
}

.category-image-mobile {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
  flex: 1;
  border-radius: 15px 0 0 15px;
}

.category-card-title-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  flex: 2;
}

@media screen and (max-width: 810px) {
  .category-card {
    flex-direction: row;
    font-size: 10px;
    height: 4rem;
  }

  .category-image {
    flex: 1;
  }

  .category-card-title-container {
    flex: 2;
  }
}

.category-card:hover {
  transform: scale(1.1);
}

.category-image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.category-card-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

/***** Recipes *****/

.recipes-container {
  display: grid;

  gap: 2rem 0.5rem;
  height: 100%;

  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  width: 100%;
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 15px;
  justify-items: center;
}

/***** Recipe Card *****/

.recipe-card {
  background-color: var(--background);
  padding: 0.5rem;

  box-shadow: var(--bs);
  max-width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.recipe-card:hover {
  transform: scale(1.1);
}

.share {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
}

.title {
  text-align: center;

  font-size: var(--fs-400);
  text-transform: capitalize;
}

.recipe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/***** Individual Recipe *****/

/***** Single Recipe *****/

.single-recipe-card {
  background-color: rgba(230, 235, 224, 0.8);
  backdrop-filter: blur(4px);

  border-radius: 15px;

  box-shadow: var(--bs);
  margin-bottom: 4rem;
  position: relative;
  max-width: 80%;
}

.single-recipe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 2rem;
}

.single-icons {
  display: flex;
  justify-content: end;
  padding: 0.5rem 0.5rem 0 0;
}

.single-icons > * {
  margin-left: 0.5rem;
}

.single-share {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.single-edit {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.single-like-true {
  height: 30px;
  width: 30px;
  color: var(--secondary-dark);
  cursor: pointer;
}

.single-like-false {
  right: 60px;
  top: 20px;
  height: 30px;
  width: 30px;
  color: white;
  cursor: pointer;
}

.single-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: var(--fs-400);
  text-transform: capitalize;
}

.subtitle {
  font-size: var(--fs-600);
}

.single-card-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4rem;
  padding: 2rem;
  font-size: var(--fs-600);
}

.single-card-details h5 {
  margin-bottom: 1rem;
}

.single-ingredients > * {
  margin-bottom: 0.5rem;
  list-style: none;
}

.single-recipe > * {
  margin-bottom: 0.5rem;
}

.single-notes-container {
  text-align: center;
  width: 80%;
  margin: auto;
}

.tags-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tags-container button {
  background-color: var(--secondary-dark);
}
.tags-container button:hover {
  transform: scale(1);
  cursor: default;
  opacity: 1;
}

.single-recipe-image-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.single-recipe-img-container {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  box-shadow: var(--bs);
  overflow: hidden;
  cursor: pointer;
}

.single-recipe-img-container:hover {
  transform: scale(1.1);
}

.single-recipe-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.add-photos-button {
  width: 100%;
}

/***** Login *****/

.form-page-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px;
}

.form-container {
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 15px;

  box-shadow: var(--bs);
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.form-container p {
  text-align: center;
}

.edit-recipe-tags-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.tag-btn {
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
}

.tag-btn-active {
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  background-color: var(--secondary-dark);
}

.form {
  display: grid;
  width: 80%;
}

.form label {
  margin-bottom: 0.2rem;
}

.submit-btn {
  margin: 2rem 0;
  letter-spacing: 1px;
  background-color: var(--secondary-dark);
  font-weight: bold;
}

.form-link {
  text-align: center;
  margin-bottom: 0.5rem;
}

.input {
  font-family: inherit;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 1px solid var(--primary) inset;
  color: var(--primary);
}

.input:focus::placeholder {
  color: var(--primary);
  transition: all 0.3s ease;
  padding-left: 4px;
}

.add-recipe-category {
  cursor: pointer;
}

.add-recipe-category option {
  cursor: pointer;
  font-family: inherit;
}

/***** Profile *****/

.profile-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  width: 100%;
}

.account-info-container {
  background-color: rgba(230, 235, 224, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 2rem;
  grid-row: 1/2;
  box-shadow: var(--bs);
  border-radius: 15px;
  backdrop-filter: blur(4px);
}

.account-info {
  padding: 2rem;
  width: 100%;
  display: grid;
}

.account-info h4 {
  margin-bottom: 0.5rem;
}

.name-input {
  width: 100%;
  position: relative;
}
.name-input input {
  width: 100%;
}

.md-person {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  color: white;
}

.email-input {
  width: 100%;
  position: relative;
}
.email-input input {
  width: 100%;
}

.md-email {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  color: white;
}

.favorites-container {
  background-color: rgba(230, 235, 224, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: var(--bs);
  border-radius: 15px;
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.favorites-grid {
  display: grid;
  margin-top: 2rem;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  width: 100%;
}

.profile-recipes-container {
  background-color: rgba(230, 235, 224, 0.5);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  padding-top: 2rem;
  box-shadow: var(--bs);
  border-radius: 15px;
  height: 100%;
  backdrop-filter: blur(4px);
}

.profile-btn {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.profile-delete-button {
  color: var(--secondary-dark);
  background-color: white;
  padding: 0.25rem;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -15px;
  right: -10px;
}

/***** Add Recipe *****/

.instructions {
  font-size: 14px;
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.recipe-input {
  font-family: inherit;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 0.5rem;
}

.input-margin {
  margin-bottom: 2rem;
}

.recipe-input:focus {
  outline: none;
  color: var(--primary);
}
